@charset "UTF-8";

body{
	background-image: url("../immagini/B24_generated.jpg");
	background-size: 120%;
	background-position: -2cm;
	font-family: 'Raleway', sans-serif;
}

input {
	margin-top: 5px;
	margin-bottom: 5px;
}

.border{
	border-radius: 10px;
	border: 3px solid #ffbb99;
}

.form{
	background-color: #ffffff;
	margin: 0 auto;
	vertical-align: middle;
	margin-top: 15%;
	padding: 3mm;
	text-align: center;
	width:50%;
	height: 60%;
}

#registrazione{
	background-color: #fffffe;
	margin: 0 auto;
	margin-top:5%;
	padding:3mm;
	text-align: center;
	width:30%;
	height: 20%;
	border-radius: 10px;
}

.a{
	bottom: 5%;
	position: absolute;
	left: 40%;
}

.allineamentoDestra{
	text-align: right;
	margin-right: 30%;
}

a {
	color: #331100;
	text-emphasis: none;
	text-decoration: none;
}