@charset "UTF-8";

body{
	background-image: url("../immagini/backgroundBanca.jpeg");
}

.form{
	background-color: #ffffff;
	margin: 0 auto;
	vertical-align: middle;
	margin-top: 15%;
	padding: 3mm;
	text-align: center;
	width:50%;
	height: 60%;
	border-radius: 10px;
}

#registrazione{
	background-color: #fffffe;
	margin: 0 auto;
	margin-top:5%;
	padding:3mm;
	text-align: center;
	width:30%;
	height: 20%;
	border-radius: 10px;
}