<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="stylesheet" href="CSS/style.css">
<meta charset="UTF-8">
<title>Banca TIW: accedi o registrati</title>
</head>
<body>
<div>
<p th:text=" ${successMsg}"></p>
</div>
<div class="form">
	<h2>Benvenuto nella pagina di login di TIW banca</h2>
	<form action="CheckCredenziali" method="post">
	   Username: <input type="email" name="username" required/> <br>
	   Password: <input type="password" name="password" required/> <br>
	   <input type="submit" value="accedi"/>
	   <p th:text=" ${errorMsg1}"></p>
 	</form>
 </div>
 <div id="registrazione">
 	<form action= "GoToRegisterPage" method="get">
 	   Sei un nuovo utente? <input type="submit" value="registrati qui"/>
 	</form>
</div>
</body>
</html>